[run]
source = backend
omit = 
    */tests/*
    */migrations/*
    */management/*
    */apps.py
    */admin.py
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    if __name__ == .__main__.
    raise NotImplementedError
    if settings.DEBUG
    @property
    @classmethod
    def get_absolute_url

ignore_errors = True
show_missing = True
